$app-dark-mode-bg: #333333;

$header-color: rgb(43, 76, 65);

$primary-bg: rgb(175, 192, 175);
$primary-color: white;
$input-focus: rgb(226, 226, 226);
$input-color: #454545;
$input-bg-dark-mode: rgb(92, 91, 91);

$footer-bg: rgb(65, 103, 103);

$admin-page-dark-mode: rgb(135, 135, 135);
