@use "variables" as *;
@import "./index.scss";

.Header {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .flex-column;
  &-title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1.5rem 0;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: $header-color;
    &-dark-mode {
      color: $admin-page-dark-mode;
    }
  }
}
